[Unit]
Description=Yamaha RX-V1800 MQTT Controller

[Service]
Type=simple
WorkingDirectory=/srv/yrxv1800-mqtt
ExecStart=python3 /srv/yrxv1800-mqtt/controller.py

[Install]
WantedBy=multi-user.target
